<h1>About Me</h1>

<hr>

<div class="row">
   <div class="col-md-4"
      <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
</div>
	

	<div class="col-md-8">
        <p>alsjndf alsdj asdlkjf lksjdl;ksadjf ;lskajlkjf lsa;ls dkjf;laksjfl ;alskdjf ;lsak j;lskjalsk ja;slj aslkhufonuc;laslkjnnc saldn. ;oasidj knou. saofn s;ldn. saodn;sl'asj lsajndv;l ansv'lasakjd. lasnv an;sj lsadj ljnvs;ajv sajvn;jn ja</p> 

        <p>laksfjd salkfmlaosa;lksnav as
        d;slkls;kvn;slvansa;lsa;ldkvnln;lcsal;
        sa;ldsnlc;lsalsakcdl;k
        sadcklsdalnc
        saldcnaslc.</p>
    </div>
</div> 